#pad-wrapper.users-list.new-user 
  .form-wrapper
    h3 Действительно удалить заказ?
    br
    p {{order.date}}
    p
      strong {{order.firm.title}} - {{order.curier.name}}, сумма {{order.order_summ}}
    .span11.field-box.actions
      button.btn-flat.danger(ng-click='deleteOrder()') Удалить
      <span></span>
      button.btn-flat.white(ng-click='home()') Отмена