#pad-wrapper.users-list
  .row-fluid.header
    h3 Сводная ведомость за день все заведения 
      span.date
        | ( {{date | date:'dd.MM.yyyy'}} )

    .row-fluid.filter-block
      .pull-right
        input.inputDate(id="inputDate", type="text", ng-model="date", jqdatepicker="jqdatepicker", jq-callback="dateChange")

  .row-fluid.table.table-products
    table.table.table-hover
      thead
        tr
          th.span1
            | Время
          th.span1
            span.line
            | Отправитель
          th.span2
            span.line
            | Получатель
          th.span1
            span.line
            | Сумма
          th.span1
            span.line
            | Доставка
          th.span1
            span.line
            | Курьер
          th.span1
      tbody
        tr(ng-repeat='order in orders')
            td
              {{order.date | date:'HH:mm'}}
            td
              {{order.firm.title}}
            td
              {{order.delivery_adress}}
            td
              {{order.order_summ}}
            td
              {{order.delivery_cost}}
            td
              {{order.curier.name}}
            td