!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    != css('bootstrap')
    != css('bootstrap-responsive')
    != css('bootstrap-overrides')
    != css('bootstrap-responsive-fluid')
    != css('icons')
    != css('elements')
    != css('layout')
    != css('select2')
    != css('morris')
    != css('datepicker')
    //- != css('redactor')
    != css('index')
    != css('new-user')
    != css('ui-elements')
    != css('user-profile')
    != css('user-profile')
    != css('print')
  body
    block body